body{
    background-color: black;
    color: white;
}
.ul-nav{
    margin: 20px;
    display: flex;
    gap: 30px;
   
}
.ul-nav li{
   list-style: none;

}
.ul-nav li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 16px;
    
 }
 .hero{
   width: fit-content;
    margin: 20px;
    padding: 40px;
    background-color: white;
    color: black;
 }
 .hero2{
    margin: 20px;
    padding: 40px;
 }
 article{
    margin: 20px;
    margin-left: 60px;
   
 }
 article .article-item{
    margin: 60px;
   
 }
 article .video{
    margin: 60px;
   
 }
 aside{
    background-color: white;
    margin: 20px;
 }
 .tips-item{
    color: black;
    display: flex;
    gap: 30px;
    margin: 20px;
   
 }
 .tips-item li{
    list-style: none;
   
 }
 .footer{

    display: flex;
    gap: 30px;
    margin: 20px;
    
 }

 .footer li{
    list-style: none;
    
 }
 .footer li a{
   color: white;
   
    
 }
 footer{
    margin: 20px;
    display: flex;
 }


 .ul-nav li a:hover{
    font-weight: bold;
}





 @media(max-width:768px){
    .hero{
     width: fit-content;
    background-color: black;
    color: white;
   
       
     }
     article img{
        width: 500px;
     }

     article .article-item{
        margin: 10px;
        margin-left: 0px;
       
     }

     article .video{
        margin: 0px;
     }

     .tips-item{
        
        display: flex;
        flex-direction: column;
        gap: 30px;
       
       
     }

    footer{
    margin: 20px;
    display: flex;
    flex-direction: column;
 }

.img{
    width: 200px;
}



    }
 
 